/* stylelint-disable */
@tailwind base;
@tailwind components;
/*! purgecss start ignore */
.btn, .input-file + label {
  @apply font-normal text-base rounded cursor-pointer border border-transparent appearance-none inline-block select-none leading-normal antialiased align-baseline;
  padding: 0.35rem 0.75rem;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}

.btn.btn-sm, .input-file + label.btn-sm {
  @apply text-sm py-px px-2;
}

.btn.btn-lg, .input-file + label.btn-lg {
  @apply text-lg py-2 px-6;
}

.btn.btn-xl, .input-file + label.btn-xl {
  @apply text-xl py-3 px-8;
}

.btn.btn-expanded, .input-file + label.btn-expanded {
  @apply block w-full;
}

.btn.btn-round, .input-file + label.btn-round {
  @apply rounded-full;
}

.btn.btn-square, .input-file + label.btn-square {
  @apply rounded-none;
}

.btn-default, .input-file + label {
  @apply bg-white border border-gray-400 text-gray-700;
}

.btn-default:hover, .input-file + label:hover, .btn-default:focus, .input-file + label:focus {
  @apply border-gray-700;
}

.btn-white {
  @apply bg-white text-gray-700 border-transparent border;
}

.btn-white:hover, .btn-white:focus {
  @apply bg-gray-200 text-gray-800;
}

.btn-white.btn-outline {
  @apply border border-white bg-transparent text-white;
}

.btn-white.btn-outline:hover, .btn-white.btn-outline:focus {
  @apply bg-white border border-white text-gray-800;
}

.btn-black {
  @apply bg-black text-white;
}

.btn-black:hover, .btn-black:focus {
  @apply bg-gray-900;
}

.btn-black.btn-outline {
  @apply bg-transparent text-black border border-black;
}

.btn-black.btn-outline:hover, .btn-black.btn-outline:focus {
  @apply bg-black text-white;
}

.btn-gray {
  @apply bg-gray-300 text-gray-800;
}

.btn-gray:hover, .btn-gray:focus {
  @apply bg-gray-400;
}

.btn-gray.btn-outline {
  @apply bg-transparent text-gray-800 border border-gray-400;
}

.btn-gray.btn-outline:hover, .btn-gray.btn-outline:focus {
  @apply bg-gray-400;
}

.btn-red {
  @apply bg-red-600 text-white;
}

.btn-red:hover, .btn-red:focus {
  @apply bg-red-700;
}

.btn-red.btn-outline {
  @apply bg-transparent text-red-600 border border-red-600;
}

.btn-red.btn-outline:hover, .btn-red.btn-outline:focus {
  @apply bg-red-600 text-white;
}

.btn-orange {
  @apply bg-orange-500 text-white;
}

.btn-orange:hover, .btn-orange:focus {
  @apply bg-orange-600;
}

.btn-orange.btn-outline {
  @apply bg-transparent text-orange-600 border border-orange-600;
}

.btn-orange.btn-outline:hover, .btn-orange.btn-outline:focus {
  @apply bg-orange-600 text-white;
}

.btn-yellow {
  @apply bg-yellow-400 text-black;
}

.btn-yellow:hover, .btn-yellow:focus {
  @apply bg-yellow-500;
}

.btn-yellow.btn-outline {
  @apply bg-transparent text-yellow-500 border border-yellow-500;
}

.btn-yellow.btn-outline:hover, .btn-yellow.btn-outline:focus {
  @apply bg-yellow-500 text-white;
}

.btn-green {
  @apply bg-green-600 text-white;
}

.btn-green:hover, .btn-green:focus {
  @apply bg-green-700;
}

.btn-green.btn-outline {
  @apply bg-transparent text-green-600 border border-green-600;
}

.btn-green.btn-outline:hover, .btn-green.btn-outline:focus {
  @apply bg-green-600 text-white;
}

.btn-teal {
  @apply bg-teal-500 text-white;
}

.btn-teal:hover, .btn-teal:focus {
  @apply bg-teal-600;
}

.btn-teal.btn-outline {
  @apply bg-transparent text-teal-500 border border-teal-500;
}

.btn-teal.btn-outline:hover, .btn-teal.btn-outline:focus {
  @apply bg-teal-500 text-white;
}

.btn-blue {
  @apply bg-blue-600 text-white;
}

.btn-blue:hover, .btn-blue:focus {
  @apply bg-blue-700;
}

.btn-blue.btn-outline {
  @apply bg-transparent text-blue-600 border border-blue-600;
}

.btn-blue.btn-outline:hover, .btn-blue.btn-outline:focus {
  @apply bg-blue-600 text-white;
}

.btn-indigo {
  @apply bg-indigo-600 text-white;
}

.btn-indigo:hover, .btn-indigo:focus {
  @apply bg-indigo-700;
}

.btn-indigo.btn-outline {
  @apply bg-transparent text-indigo-600 border border-indigo-600;
}

.btn-indigo.btn-outline:hover, .btn-indigo.btn-outline:focus {
  @apply bg-indigo-600 text-white;
}

.btn-purple {
  @apply bg-purple-600 text-white;
}

.btn-purple:hover, .btn-purple:focus {
  @apply bg-purple-700;
}

.btn-purple.btn-outline {
  @apply bg-transparent text-purple-600 border border-purple-600;
}

.btn-purple.btn-outline:hover, .btn-purple.btn-outline:focus {
  @apply bg-purple-600 text-white;
}

.btn-pink {
  @apply bg-pink-600 text-white;
}

.btn-pink:hover, .btn-pink:focus {
  @apply bg-pink-700;
}

.btn-pink.btn-outline {
  @apply bg-transparent text-pink-600 border border-pink-600;
}

.btn-pink.btn-outline:hover, .btn-pink.btn-outline:focus {
  @apply bg-pink-600 text-white;
}

.btn-transparent {
  @apply text-gray-800 bg-transparent;
}

.btn-transparent:hover, .btn-transparent:focus {
  @apply bg-gray-200;
}

.btn-link {
  @apply text-blue-700 bg-transparent mx-2 cursor-pointer;
}

.btn-link:hover, .btn-link:focus {
  @apply text-blue-700;
}

.btn-group .btn, .btn-group .input-file + label {
  @apply rounded-none;
}

.btn-group .btn:first-child, .btn-group .input-file + label:first-child {
  @apply rounded-tr-none rounded-br-none border-r-0 rounded-tl rounded-bl;
}

.btn-group .btn:last-child, .btn-group .input-file + label:last-child {
  @apply rounded-tl-none rounded-bl-none border-l-0 rounded-tr rounded-br;
}

.input:focus,
.input:hover {
  @apply shadow outline-none border-gray-500;
  -webkit-box-shadow: 0 0 0 0.2rem theme("colors.gray.200");
          box-shadow: 0 0 0 0.2rem theme("colors.gray.200");
  background-clip: padding-box;
}

.input {
  @apply appearance-none block w-full text-gray-700 border border-gray-400 rounded px-3 leading-tight bg-white shadow-inner;
  padding-top: .65rem;
  padding-bottom: .65rem;
}

.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.select {
  @apply appearance-none py-3 px-4 pr-8 block w-full bg-white border border-gray-300 text-gray-700 rounded leading-tight;
  -webkit-appearance: none;
}

.select:focus {
  @apply outline-none border-gray-400;
  -webkit-box-shadow: 0 0 0 0.2rem theme("colors.gray.100");
          box-shadow: 0 0 0 0.2rem theme("colors.gray.100");
  background-clip: padding-box;
}

.caret {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800;
}

.input-group {
  @apply mb-6;
}

.input-file {
  height: auto;
  z-index: 2;
  cursor: pointer;
  @apply inline-block opacity-0 pl-0 pr-0 py-3 px-3 overflow-hidden absolute border-none;
}

.input-file + label {
  @apply cursor-pointer inline-flex items-center justify-start w-auto;
}

.input-file + label * {
  pointer-events: none;
}

.input-file + label:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.input-checkbox {
  @apply flex items-center justify-start;
}

.input-checkbox input[type="checkbox"] {
  @apply hidden appearance-none;
}

.input-checkbox input[type="checkbox"]:checked ~ label:before {
  content: "";
  background-image: url("../images/icons/checkmark.svg");
  background-size: 10px 10px;
  border-radius: 2px;
  @apply bg-blue-500 border-transparent text-white bg-no-repeat bg-center transition ease-in-out duration-100 shadow-none;
}

.input-checkbox input[type="checkbox"]:disabled {
  @apply pointer-events-none opacity-50;
}

.input-checkbox label {
  @apply cursor-pointer appearance-none;
}

.input-checkbox label:before {
  border-radius: 2px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0 1px 1px rgba(221, 221, 221, 0.8);
          box-shadow: inset 0 1px 1px rgba(221, 221, 221, 0.8);
  content: "";
  height: 16px;
  margin-right: 10px;
  top: -5px;
  width: 16px;
  @apply bg-white inline-flex items-center justify-center relative transition ease-in-out duration-200;
}

.input-checkbox label:hover::before {
  @apply bg-gray-100 border-gray-500;
}

.input-radio {
  @apply flex items-center justify-start;
}

.input-radio input[type="radio"] {
  @apply hidden appearance-none;
}

.input-radio input[type="radio"]:checked ~ label:before {
  content: "";
  @apply bg-blue-500 border-transparent text-white transition ease-in-out duration-100 shadow-none;
}

.input-radio input[type="radio"]:checked ~ label:after {
  @apply bg-white rounded-full;
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8px;
  left: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(43, 108, 176, 0.9);
          box-shadow: 0 1px 1px rgba(43, 108, 176, 0.9);
}

.input-radio input[type="radio"]:disabled {
  @apply pointer-events-none opacity-50;
}

.input-radio label {
  @apply cursor-pointer appearance-none relative;
}

.input-radio label:before {
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0 1px 1px rgba(221, 221, 221, 0.8);
          box-shadow: inset 0 1px 1px rgba(221, 221, 221, 0.8);
  content: "";
  height: 16px;
  margin-right: 4px;
  top: -5px;
  width: 16px;
  @apply bg-white inline-flex items-center justify-center relative transition ease-in-out duration-200 rounded-full;
}

.input-radio label:hover::before {
  @apply bg-gray-100 border-gray-500;
}

/*! purgecss end ignore */
@tailwind utilities;
/*# sourceMappingURL=application.css.map */