<div class="w-full max-w-md mx-auto my-8">
  <div class="bg-white border border-gray-300 rounded-lg px-8 pt-6 pb-8">
<h2 class="pt-4 mb-8 text-4xl font-bold heading">Editing Post</h2>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post, class: "btn btn-green mr-3 mt-4" %>
<%= link_to 'Back', posts_path, class: "btn btn-gray ml-3 mt-4" %>
</div>
</div>
